@media (prefers-color-scheme: dark)
{
    :root
    {
        --primary-font : #f5c000 ;
        --primary-background : #313131 ;
    }
    .laptop, .smoke, .coffee
    {
        @media (orientation: portrait)
        {
            filter: invert(66%) sepia(73%) saturate(1185%) hue-rotate(1deg) brightness(106%) contrast(109%) drop-shadow(0 1dvh 1dvh black);
        }
        @media (orientation: landscape)
        {
            filter: invert(66%) sepia(73%) saturate(1185%) hue-rotate(1deg) brightness(106%) contrast(109%) drop-shadow(0 1vw 1vw black);
        }
    }
}
@media (prefers-color-scheme: light)
{
    :root
    {
        --primary-font : #74008b ;
        --primary-background : #f5f5f5 ;
    }
    .laptop, .smoke, .coffee
    {
        @media (orientation: portrait)
        {
            filter: invert(18%) sepia(77%) saturate(4775%) hue-rotate(285deg) brightness(60%) contrast(128%) drop-shadow(0 1dvh 1dvh black);
        }
        @media (orientation: landscape)
        {
            filter: invert(18%) sepia(77%) saturate(4775%) hue-rotate(285deg) brightness(60%) contrast(128%) drop-shadow(0 1vw 1vw black);
        }
    }
}
@font-face {
    font-family: "Zilla Slab Highlight";
    src: url("/ressources/Zilla_Slab_Highlight/ZillaSlabHighlight-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Zilla Slab";
    src:url("/ressources/Zilla_Slab/ZillaSlab-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body
{ 
    width: fit-content; height: fit-content; 
    background-color: var(--primary-background); 
    overflow: hidden; scrollbar-width: none; 
}
body::-webkit-scrollbar {display: none;}

h1
{
    font-family: "Zilla Slab"; color: var(--primary-background); 
    background-color: var(--primary-font);
}
h2, h3
{
    font-family: "Zilla Slab Highlight"; color: var(--primary-font) ; 
    width: fit-content; height: fit-content;
}
.footer
{
    width: fit-content;
    right: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    position: fixed;
    .table {background-color: var(--primary-font); width: 100vw;}
    .laptop, .coffee, .smoke, .laptopContact {position: absolute; fill: var(--primary-font)}
    .laptop_contact
    {
        color:var(--primary-background); display: flex; justify-content: center; align-items: center; text-decoration: none; background-color: var(--primary-font) ; 
        transform: skewX(-25deg);
        span{transform: skewX(25deg); display: block; font-family:"Zilla Slab" ; font-weight: 700;}
    }
}
button
{
        background-color: var(--primary-font);
        border: none; transform: skewX(-25deg);
        cursor: pointer;
        a
        {
            width: inherit;
            height: inherit;
        }

        span
        {
            font-family:"Zilla Slab";
            font-weight: 700;
            color: var(--primary-background);
            display: block;
            transform: skewX(25deg);
        }
}

/*ANCHOR - Home page */

.bubble
{
    aspect-ratio: 1/1;
    position: absolute;
    left : 0 ; right: 0 ; margin: auto;
    background-color: var(--primary-font);
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center;

    h2
    {
        display: flex; justify-content: center; align-items: center;
        width: inherit; height: inherit;
        color: var(--primary-background);
        font-family: "Zilla Slab";
    }
}
.pages_links
{
    position: absolute;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto ;
    width : 100vw ; height: 40dvh; display: grid; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr 1fr;
    justify-items: center; align-items: center;
}

/*P/ - About page */

.left_title { right: 0; position: absolute;}
.desc 
{
    position: absolute; left : 0 ; top: 0 ; bottom: 10dvh ; right: 0 ; 
    margin: auto; width: fit-content; height: fit-content;
}
.desc > p
{
    color: var(--primary-background); font-family: "Zilla Slab"; font-weight: 800; 
    background-color: var(--primary-font); width: fit-content; height: fit-content;
}
/* .desc > p:nth-child(2n) {text-align: right;} */

/*P// - Skills page */

div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; align-items: center;
}
div > span
{
    display: flex;
    align-items: center;
    width: fit-content; height: fit-content;
    font-family: "Zilla Slab Highlight"; color: var(--primary-font) ; font-weight: 1000;
}
ul
{
    columns: 2; 
    font-family: "Zilla Slab Highlight"; color: var(--primary-font) ; font-weight: 1000;}
ul > li > i {color: black; left: 0vw;}
li {list-style-type: none; list-style-position:outside; margin:0; padding:0;}

/*P/// - Experiences page */

.resume{font-family: "Zilla Slab Highlight"; font-weight: 1000; color:var(--primary-font); position: relative;}
.exp{position: relative;}
.exp ul{columns: 1; box-sizing: content-box;}
.exp li {list-style-type: disc; text-wrap: wrap;}
.exp li::marker {color:black}

/*SECTION - Projects page */

article.projects
{
    height: fit-content; 
    display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; 
    position: absolute; left : 0 ; bottom: 0 ; right: 0 ; margin: auto;
}
article.projects div
{
    font-family: "Zilla Slab Highlight"; color: var(--primary-font); font-weight: 800;
    width: fit-content; height: fit-content;
    justify-self: center; align-items: center; align-self: center; align-content: center;
    display: block;
}

/*P/ - Contact */

.contact_desc{font-family: "Zilla Slab Highlight"; color: var(--primary-font); font-weight: 800;}
.contact_link{justify-items: center;}
.contact_link span{grid-column: 1 / span 2; }

/*NOTE - RESPONSIVE MOBILE */

@media (orientation: portrait)
{
    h1{font-size: 3dvh;}h2{font-size: 2.75dvh;}h3{font-size: 2.25dvh;}
    div > span, ul, ul li{font-size: 2dvh;}
    h1, h2:not(div h2), h3:not(article h3){ width: fit-content; height: fit-content; box-shadow: black 0.5dvh 0.5dvh;}

    .pages_links{button {width: 75%; height: 30%; box-shadow: black 1dvh 1dvh; span{font-size: 2.5dvh;}}}
    .bubble{top: 17.5dvh; width: 10dvh; height: 10dvh; h2{font-size: 6dvh; text-shadow: black 0 -0.25dvh;} }

    .footer
    {
        .table {height: 4.2dvh;}
        .laptop, .coffee {bottom: 4dvh;}
        .laptop {width: 25dvh;}
        .coffee {width: 7.5dvh; right: 5dvh;}    
        .smoke {width: 5dvh; right: 7dvh; bottom: 12dvh;}
        .laptop_contact
        {
            width: 12.5dvh; 
            height: 4dvh;
            left: 6dvh; 
            bottom: calc(4dvh + ((25dvh/1.689744191504342)/2));
            position: absolute;
            box-shadow: black 0.5dvh 0.5dvh;
            span
            {font-size: calc(5px + 1.5dvh);}
        }
    }
    .return
    {
        width: fit-content; height: fit-content; position: absolute; bottom: 20.5dvh; box-shadow: black 0.5dvh 0.5dvh; transform: skewX(0deg);
        span{font-size: 2.5dvh; transform: skewX(0deg);}
    }

    .desc > p {margin-left: 1dvh; margin-right: 1dvh; font-size: 1.75dvh;}
    .front_end, .back_end
    {
        padding-left: 2.5dvh; width: 95vw; 
        align-items: center; align-content: center; align-self: center;}
    span > object {width: 3dvh; padding-right: 1dvh;}

    .resume{top: 5dvh; font-size: 1.75dvh;}
    .stage_tattoo{top: 10dvh;}
    .stage_tattoo > h3 {font-size: 2.4dvh;}
    .stage_tattoo > ul { max-width: 85vw;}

    article.projects{width: 90vw; column-gap: 2dvh; row-gap: 2dvh; top: -15dvh;}
    article.projects div{font-size: 3dvh;}

    .contact_desc{font-size: 3dvh; top: 5dvh; position: relative;}
    .contact_link{font-size: 3dvh; row-gap: 4dvh; top: 7.5dvh; position: relative;}
    .contact_link span{font-size: 2.4dvh;}
    .contact_link i{font-size: 5dvh; color: var(--primary-font);}
}

@media (orientation: landscape)
{
    h2{font-size: calc(5px + 1.75vw);} h3{font-size: calc(5px + 1.25vw);}
    div > span, ul, ul li{font-size: calc(5px + 1vw); height: fit-content;}
    h1 {font-size: calc(5px + 2vw);  width: fit-content; height: fit-content; box-shadow: black 0.5vw 0.5vw;}
    .pages_links
    {
        button 
        {width: 55%; height: 35%; box-shadow: black 1vh 1vh; 
            span{font-size: calc(5px + 2.5vw);}
        }
    }
    .bubble{top: 17.5vh; width: calc(5px + 6.5vw); height: calc(5px + 6.5vw); h2{font-size: calc(5px + 4.25vw); text-shadow: black 0 -0.25vw;} }

    .footer
    {
        .table {height: 6.2vh;}
        .laptop, .coffee {bottom: 6vh}
        .laptop {width: 17.5vw;}
        .coffee {width: 5vw; right: 5vw;}    
        .smoke {width: 3.5vw; right: 6.5vw; bottom: calc(6vh + 5vw);}
        .laptop_contact
        {
            width: 9vw; 
            height: 2.5vw;
            left: 4.25vw; 
            bottom: calc(6vh + ((17.5vw/1.689744191504342)/2));
            position: absolute;
            box-shadow: black 0.5vw 0.5vw;
            span
            {font-size: calc(5px + 1vw);}
        }}
    
    
    .left_title { position: relative;}
    .return
    {
        width: fit-content; height: fit-content; position: absolute; bottom: 30vh; box-shadow: black 0.5vw 0.5vw; transform: skewX(0deg);
        span{font-size: 2vw; transform: skewX(0deg);}
    }
    .desc > p{margin-left:15vw; margin-right:15vw; font-size: calc(5px + 1vw);}

    .competences_box
    {
        display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 3fr 1fr 3fr;
        position: absolute; left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
        width: 50vw; height: 75vh; align-items: center;
    }
    .front_title, .back_title{grid-row:1;}
    .soft_title, .tools_title{grid-row:3}
    div, .soft_skills, .tools
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; align-items: center;
    }
    ul {columns: 2; font-family: "Zilla Slab Highlight"; color: var(--primary-font) ; font-weight: 1000;}
    ul > li > i{color: black; left: 0vw;}
    li{list-style-type: none; list-style-position:outside; margin:0; padding:0;}
    .icon {width: 2vw; padding-right: 1vh;}

    .resume {font-size: calc(10px + 0.75vw); width: 75vw;}

    article.projects{width: 90vw; column-gap: 2vw; row-gap: 4vh; top: -15vh;}
    article.projects div{font-size: calc(10px + 2.5vw); width: 25vw; height: 12.5vh;}
    
    .contact_desc{font-size: calc(10px + 0.75vw); top: 5vh; position: relative; padding-right: 5vw;}
    .contact_link{font-size: calc(10px + 1.5vw); row-gap: 4vh; top: -5vh; position: absolute; width: 45vw; height: 20vh; left : 0 ; bottom: 0 ; right: 0 ; margin: auto;}
    .contact_link span{font-size: calc(10px + 1.5vw);}
    .contact_link i{font-size: calc(10px + 2.5vw); color: var(--primary-font);}
}